<%# I use the helper _url instead of _path to produce an actual url (instead of a relative path). %>
<p>
  Read the article <%= link_to 'in the app', post_url(@post) %>.
</p>

<hr>

<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>
