.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  flex: 1;
  min-height: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar-brand img {
  height: 60px;
  padding: 10px;
}

.menu-features-item {
  padding-top: 30px;
  padding-left: 20px;
  a {
    text-decoration: none;
    color: #777777;
    font-weight: 500;
    font-size: 15px;
    padding-left: 10px;
  }
  :active {
    color: white;
  }
}

.menu-profile-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.625rem;
  display: block;
  margin-right: 8px;
}


