<div class="post-feed">
  <% @posts.each do |post| %>
    <div class="post-card">
      <div class="post-card-image">
        <img src="https://img.freepik.com/free-photo/nature-landscape-with-hand-holding-frame_23-2149389976.jpg?semt=ais_hybrid&w=740&q=80" alt="">
      </div>

      <div class="post-card-body">
        <div class="post-card-meta">
          <div class="post-card-author">
            <span class="post-author-avatar"><%= post.user.username[0].upcase %></span>
            <span class="post-author-name"><%= post.user.username %></span>
          </div>
        </div>

        <h2 class="post-title"><%= post.title %></h2>
      </div>
    </div>
  <% end %>
</div>
